
/* Color Theme Swatches in RGBA */
.Blues-1-rgba { color: rgba(225, 230, 249, 1); }
.Blues-2-rgba { color: rgba(195, 214, 237, 1); }
.Blues-3-rgba { color: rgba(170, 200, 226, 1); }
.Blues-4-rgba { color: rgba(54, 93, 128, 1); }
.Blues-5-rgba { color: rgba(24, 49, 82, 1); }
